/*
## landingLayout2Page
********************************************************************/

.section1{
	margin:20px 0;
}

/*#page{width:1300px !important;}*/
/*.section1 table{width:1260px !important;}*/

.cus-details.section1, .pro-details.section3 #sec3-product{background:#f2f2f2;}
.pro-details.section3{background:f2f2f2; padding:20px; left:-195px;}
.pro-details.section3 #sec3-product{padding:0px; position:relative; width:1260px;}
 

.cus-details.section1{left:-195px;}
.cus-details.section1 #cus_detail{width:1260px;}
#orderForm table td select{padding:6px; margin-right:5px;}
#orderForm table td button{padding:0 20px;}
#orderForm table td label{margin-left:10px; margin-right:3px;}

#orderForm  #detail_tab{margin-top:40px; width:1300px; position:relative; left:-195px; padding:20px; background:#f2f2f2; float:left;}
#orderForm  #detail_tab table{width:1300px !important;}

/* .cus-details.section1{width:1300px !important; left:-195px;} */

.section1 table, .section3 table{width:1260px;}

.section1, .section3{width:1300px; float:left;  position:relative; left:0px; background:#f2f2f2; padding:20px; margin-bottom:0;}
.section1 hr{margin-top:15px;}
.section3 input[type="text"]{border:1px solid #eaedf0; padding:7px 5px;}
.section3 input[type="checkbox"]{position:relative; top:2px;}
.section4 table, .section1 table{background:#eaedf0; border:1px solid #dddddd; width:1300px; float:left; position:relative; left:0px;}
.section4 table tbody, .section1 table tbody{width:100%; float:left;}
.section4 table tr, .section1 table tr{width:100%; float:left;}
.section4 table tr:nth-child(even), .section1 table tr:nth-child(even){background-color:#eeeff0;}
.section4 table tr:nth-child(even) td, .section1 table tr:nth-child(even) td{border-right:1px solid #eeeff0;}
.section4 table tr:nth-child(odd) td, .section1 table tr:nth-child(odd) td{border-right:1px solid #eaedf0;}
.section4 table th, .section1 table th{ background:#e5e5e5; width:3.72%; float:left !important; min-height:80px; border-right:1px solid #dddddd; border-top:0; border-bottom:0; border-left:0; text-align:left; padding:5px 7px;}
.section4 table td, .section1 table td{width:3.72%; float:left !important; padding:10px 7px 7px 7px;  border-bottom:0px; border-top:1px solid #ddd; border-left:0; border-right:0;text-align:left;}
.section4 table td:first-child input, .section1 table td:first-child input{border:none; background:#eaedf0;}
.section4 table th:last-child, .section1 table th:last-child{border-right:0 !important;}
.section4 table td input.rectangle, .section1 table td input.rectangle{padding:5px; border:1px solid #dddddd; width:40px;}
.product, .number, .total{width:5.05% !important;}
.material{width:7% !important;}
.section4 input[type="submit"]{padding:5px 20px; background:#f26522; color:#fff; border:none; margin-top:20px; right:0px; position:relative;}

.section1

.zoneA{
	
}


.zoneA .disp-img{
	height:108px;
	margin:10px 0 0 0;
	border-bottom:1px dotted #A5A5A5;
	position:relative;
}


.zoneA .disp-img:first-child{
	margin:0;
}


.zoneA .disp-img a{
	display:block;

}


.zoneA .disp-img .title{
	display:block;
	margin-left:106px;
	border-bottom:1px dotted #A5A5A5;
	margin-bottom:10px;
}

.zoneA .disp-img .thumb{
	position:absolute;
	top:0;
}

.zoneA .disp-img .details{
	width:124px;
	height:96px;
	margin-left:106px;
	display:block;
	
	
}

.zoneA .disp-img .action{
	display:none;
}








.zoneB{
	
}


.zoneB .simple_disp-img:first-child{
	margin:0 0 10px 0;
}







.zoneC{

}









.slider_component {

}

#homepage_slider .svw {
	width: 50px;
	height: 20px;
	background-color: #ffffff;
}

.svw ul {
	position: relative;
	left: -999em;
}

#homepage_slider.stripViewer {
	position: relative;
	overflow: hidden;
	margin: 0;
}

#homepage_slider.stripViewer ul {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
	width: 1%;
	list-style-type: none;
}

#homepage_slider.stripViewer ul li {
	float: left;
}





#homepage_slider .tooltip {
	padding: 0.5em;
	background-color: #ffffff;
	color: #000000;
	border: 5px solid #dedede;
}

.stripTransmitter {
	overflow: auto;
	padding: 0 15px ;
	width: 438px !important;
	height:51px;
	border-bottom:1px #A5A5A5;
	background-color: white;
}

.stripTransmitter ul {
	margin: 0;
	padding: 0;
	position: relative;
	list-style-type: none;
}

.stripTransmitter ul li {
	width: 30px;
	float: left;
}

.stripTransmitter a {
	line-height: 47px;
	display: block;
	padding: 0 0 0 0;
	text-align: center;
	text-decoration: none;
	font-size: 1.4em;
}

.stripTransmitter a:hover,a.current {
	font-weight: bold;

}


.tooltip {
	padding: 0.5em;
	background-color: #ffffff;
	color: #000000;
	border-bottom:1px dotted #A5A5A5;
}


.section4 .disp-img{
	margin:0 0 15px 0;
}

.section4 .disp-img .title{
	border-bottom:1px solid #a5a5a5;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1em;
	white-space: nowrap;
	display:block;
	margin:0 0 10px 0;
}

.section4 .disp-img .thumb{
	margin:0 0 5px 0;
	display:block;
}

.section4 .disp-img .details{
	
}

.section4 .disp-img .action{
	display:none;
}
